@import "variables.scss";
@import "mixins.scss";

body {
  margin: 0;
  height: 100%;
  width: 100%;

  .page-container {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #d9d9d9;
    display: grid;
    grid-template-rows: 1fr 2fr 0.1fr;

    .top-nav-bar {
      display: flex;
      justify-content: space-between;
      padding: 25px 150px;
      background-color: white;
      // position: fixed;
      // top: 0;
      // width: 100%;

      .top-left-nav {
        display: flex;
        font-family: Roboto;
        font-size: 18px;
        align-items: center;

        a {
          text-decoration: none;
          color: white;
        }
      }

      .top-right-nav {
        display: flex;
        justify-content: space-between;
        font-family: Roboto;
        font-size: 10px;
        align-items: center;
        padding: 0 10px;
        width: 20%;

        a {
          text-decoration: none;
          color: white;
        }

        button {
          background-color: $hot-pink;
          color: white;
          font-size: 10px;
          border-color: $hot-pink;
          border-radius: 42px;
          border: none;
          height: 50px;
          width: 75px;
        }
      }
    }

    .pink-header {
      display: flex;
      justify-content: center;
      background-color: $hot-pink;

      h2 {
        font-family: Roboto;
        color: white;
        font-size: 42px;
      }

      p {
        font-family: Roboto;
        color: white;
        font-size: 18px;
      }
    }

    .main-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: -4%;
      margin-left: 2.5%;
      z-index: 2;
      width: 95%;
      height: 104%;
      border-radius: 5px;
      background-color: white;
      box-shadow: 0px 5px 9px 4px rgba(0, 0, 0, 0.43);

      .blockquote {
        font-family: Roboto;
        color: #3c4858;
        font-size: 18px;
      }
    }
  }
}
