@import "./variables.scss";
@import "./mixins.scss";

body {
  @include body;

  .page-container {
    @include page-container;

    .top-nav-bar {
      @include top-nav-bar;
    }

    .pink-header {
      @include pink-header;

      h2 {
        font-family: Roboto;
        color: white;
        font-size: 42px;
        font-weight: 500;
      }
    }
    .main-card {
      @include main-card;
      padding-top: 5%;

      .worth-a-thousand-words {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 3% 0px;
        width: 60%;

        .uncategorized {
          font-family: Roboto;
          font-size: 12px;
          color: $purple;
          text-decoration: none;
          margin: 5px 0;
        }
        .blog-link {
          font-family: Roboto Slab;
          font-size: 18px;
          cursor: pointer;
          text-decoration: none;
          color: #3c4858;
        }

        p {
          margin: 5px 0;
          font-family: Roboto;
          font-size: 14px;
          color: #999999;
        }
      }

      .elements {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 3% 0px;
        width: 60%;

        .uncategorized {
          font-family: Roboto;
          font-size: 12px;
          color: $turquoise;
          text-decoration: none;
          margin: 5px 0;
        }
        .blog-link {
          font-family: Roboto Slab;
          font-size: 18px;
          cursor: pointer;
          text-decoration: none;
          color: #3c4858;
        }

        p {
          font-family: Roboto;
          font-size: 14px;
          color: #999999;
          margin: 5px 0;
        }
      }

      .more-tags {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 3% 0px;
        width: 60%;

        .uncategorized {
          font-family: Roboto;
          font-size: 12px;
          color: $red;
          text-decoration: none;
          margin: 5px 0;
        }
        .blog-link {
          font-family: Roboto Slab;
          font-size: 18px;
          cursor: pointer;
          text-decoration: none;
          color: #3c4858;
        }

        p {
          font-family: Roboto;
          font-size: 14px;
          color: #999999;
          margin: 5px 0;
        }
      }

      .html {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 3% 0px;
        width: 60%;

        .uncategorized {
          font-family: Roboto;
          font-size: 12px;
          color: $orange;
          text-decoration: none;
          margin: 5px 0;
        }
        .blog-link {
          font-family: Roboto Slab;
          font-size: 18px;
          cursor: pointer;
          text-decoration: none;
          color: #3c4858;
        }

        p {
          font-family: Roboto;
          font-size: 14px;
          color: #999999;
          margin: 5px 0;
        }
      }

      .links {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 3% 0px;
        width: 60%;

        .uncategorized {
          font-family: Roboto;
          font-size: 12px;
          color: $hot-pink;
          text-decoration: none;
          margin: 5px 0;
        }
        .blog-link {
          font-family: Roboto Slab;
          font-size: 18px;
          cursor: pointer;
          text-decoration: none;
          color: #3c4858;
        }

        p {
          font-family: Roboto;
          font-size: 14px;
          color: #999999;
          margin: 5px 0;
        }
      }

      .category-hierarchy {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 3% 0px;
        width: 60%;

        .uncategorized {
          font-family: Roboto;
          font-size: 12px;
          color: $green;
          text-decoration: none;
          margin: 5px 0;
        }
        .blog-link {
          font-family: Roboto Slab;
          font-size: 18px;
          cursor: pointer;
          text-decoration: none;
          color: #3c4858;
        }

        p {
          font-family: Roboto;
          font-size: 14px;
          color: #999999;
          margin: 5px 0;
        }
      }

      .hello-world {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 3% 0;
        width: 60%;

        .uncategorized {
          font-family: Roboto;
          font-size: 12px;
          color: $purple;
          text-decoration: none;
          margin: 5px 0;
        }
        .blog-link {
          font-family: Roboto Slab;
          font-size: 18px;
          cursor: pointer;
          text-decoration: none;
          color: #3c4858;
        }

        p {
          font-family: Roboto;
          font-size: 14px;
          color: #999999;
          margin: 5px 0;
        }
      }
    }
    .footer {
      @include footer;
    }
  }
}
