body {
  margin: 0;
  height: 100%;
  width: 100%;
}
body .page-container {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
}
body .page-container .top-nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 25px 150px;
  background-color: white;
  height: 60px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
  box-shadow: 0px 4px 9px 3px rgba(0, 0, 0, 0.43);
}
body .page-container .top-nav-bar .top-left-nav {
  display: flex;
  font-family: Roboto;
  font-size: 18px;
  align-items: center;
}
body .page-container .top-nav-bar .top-left-nav a {
  text-decoration: none;
  color: #555555;
}
body .page-container .top-nav-bar .top-right-nav {
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 12px;
  align-items: center;
  padding: 0 10px;
  width: 25%;
}
body .page-container .top-nav-bar .top-right-nav a {
  text-decoration: none;
  color: #555555;
  cursor: pointer;
}
body .page-container .top-nav-bar .top-right-nav button {
  background-color: #e91e63;
  color: white;
  font-size: 12px;
  border-color: #e91e63;
  border-radius: 42px;
  border: none;
  height: 50px;
  width: 75px;
}
body .page-container .pink-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #ad1f82, #bf217f, #d0257c, #e02c77, #ee3672);
  height: 50vh;
}
body .page-container .pink-header h2 {
  font-family: Roboto;
  color: white;
  font-size: 42px;
  font-weight: 500;
}
body .page-container .pink-header p {
  font-family: Roboto;
  color: white;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 4%;
}
body .page-container .main-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -4%;
  margin-left: 2.5%;
  z-index: 2;
  width: 95%;
  height: 104%;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 5px 9px 4px rgba(0, 0, 0, 0.43);
}
body .page-container .main-card .body-text {
  font-family: Roboto;
  font-size: 15px;
  color: #3c4858;
  width: 43%;
}
body .page-container .main-card .body-text .intro {
  padding-top: 5%;
  font-weight: 100;
}
body .page-container .main-card .body-text .headings h1 {
  font-family: Roboto;
  font-size: 42px;
  color: #3c4858;
}
body .page-container .main-card .body-text .headings h2 {
  font-family: Roboto;
  font-size: 37px;
  color: #3c4858;
}
body .page-container .main-card .body-text .headings h3 {
  font-family: Roboto;
  font-size: 32px;
  color: #3c4858;
}
body .page-container .main-card .body-text .headings h4 {
  font-family: Roboto;
  font-size: 27px;
  color: #3c4858;
}
body .page-container .main-card .body-text .headings h5 {
  font-family: Roboto;
  font-size: 23px;
  color: #3c4858;
}
body .page-container .main-card .body-text .headings h6 {
  font-family: Roboto;
  font-size: 18px;
  color: #3c4858;
}
body .page-container .main-card .body-text .headings p {
  color: #e91e63;
}
body .page-container .main-card .body-text .headings p a {
  text-decoration: none;
}
body .page-container .main-card .body-text .paragraphs h2 {
  font-family: Roboto;
  font-size: 37px;
  color: #3c4858;
}
body .page-container .main-card .body-text .paragraphs .firstpara {
  font-family: Roboto;
  font-size: 18px;
  color: #3c4858;
}
body .page-container .main-card .body-text .paragraphs .firstpara a {
  color: #e91e63;
  text-decoration: none;
}
body .page-container .main-card .body-text .paragraphs .secondpara {
  font-family: Roboto;
  font-size: 18px;
  color: #3c4858;
}
body .page-container .main-card .body-text .paragraphs .secondpara span {
  font-style: italic;
}
body .page-container .main-card .body-text .paragraphs p {
  color: #e91e63;
}
body .page-container .main-card .body-text .paragraphs p a {
  text-decoration: none;
}
body .page-container .main-card .body-text .list-types h2 {
  font-family: Roboto;
  font-size: 37px;
  color: #3c4858;
}
body .page-container .main-card .body-text .list-types h3 {
  font-family: Roboto;
  font-size: 32px;
  color: #3c4858;
}
body .page-container .main-card .body-text .list-types dt {
  font-family: Roboto;
  font-size: 18px;
  color: #3c4858;
  font-weight: 500;
}
body .page-container .main-card .body-text .list-types dd {
  font-family: Roboto;
  font-size: 18px;
  color: #3c4858;
  margin: 0;
}
body .page-container .main-card .body-text .list-types p {
  color: #e91e63;
}
body .page-container .main-card .body-text .list-types p a {
  text-decoration: none;
}
body .page-container .main-card .body-text .forms h2 {
  font-family: Roboto;
  font-size: 37px;
  color: #3c4858;
}
body .page-container .main-card .body-text .forms form .legend {
  font-family: Roboto;
  font-size: 21px;
  color: #3c4858;
}
body .page-container .main-card .body-text .forms form .form-legend {
  font-family: Roboto;
  font-size: 18px;
  color: #3c4858;
}
body .page-container .main-card .body-text .forms form p {
  font-family: Roboto;
  font-size: 18px;
  color: #3c4858;
}
body .page-container .main-card .body-text .forms form label {
  font-family: Roboto;
  font-size: 18px;
  color: #3c4858;
  font-weight: 500;
}
body .page-container .main-card .body-text .forms form input {
  border: none;
  border-bottom: 1px solid #3c4858;
  width: 100%;
  margin-bottom: 20px;
}
body .page-container .main-card .body-text .forms form textarea {
  border: none;
  border-bottom: 1px solid #3c4858;
  width: 100%;
  margin-bottom: 20px;
}
body .page-container .main-card .body-text .forms form select {
  display: flex;
  flex-direction: column;
  border: 1px solid #3c4845;
  padding: 7px;
}
body .page-container .main-card .body-text .forms form .radiob {
  font-family: Roboto;
  font-size: 18px;
  color: #3c4858;
  font-weight: 500;
}
body .page-container .main-card .body-text .forms form .radio-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body .page-container .main-card .body-text .forms form .radio-buttons p {
  font-family: Roboto;
  font-size: 18px;
  color: #3c4858;
  font-weight: 100;
}
body .page-container .main-card .body-text .forms form .radio-buttons p input {
  position: relative;
  display: flex;
  align-items: left;
  margin-top: 10px;
}
body .page-container .main-card .body-text .forms form .checkb {
  font-family: Roboto;
  font-size: 18px;
  color: #3c4858;
  font-weight: 500;
  padding-top: 7px;
}
body .page-container .main-card .body-text .forms form .checkboxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body .page-container .main-card .body-text .forms form .checkboxes p {
  font-family: Roboto;
  font-size: 18px;
  color: #3c4858;
  font-weight: 100;
}
body .page-container .main-card .body-text .forms form .checkboxes p input {
  display: flex;
  align-items: left;
}
body .page-container .main-card .body-text .forms form .file-input {
  font-family: Roboto;
  font-size: 18px;
  color: #3c4858;
  font-weight: 500;
}
body .page-container .main-card .body-text .forms form .file-input form input {
  border-bottom: none;
}
body .page-container .main-card .body-text .forms form .last-buttons {
  display: flex;
}
body .page-container .main-card .body-text .forms form .last-buttons .clear {
  border: 1px solid #e91e63;
  width: 50px;
  height: 40px;
  color: grey;
}
body .page-container .main-card .body-text .forms form .last-buttons .submit {
  border: 1px solid #e91e63;
  width: 100px;
  height: 40px;
  color: grey;
  background-color: #e91e63;
  margin-left: 2px;
}
body .page-container .main-card .body-text .forms form .top {
  color: #e91e63;
}
body .page-container .main-card .body-text .forms form .top a {
  text-decoration: none;
}/*# sourceMappingURL=elements.css.map */