body {
  margin: 0;
  height: 100%;
  width: 100%;
}
body .page-container {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #d9d9d9;
  display: grid;
  grid-template-rows: 1fr 2fr 0.05fr;
}
body .page-container .lady-liberty {
  background-image: url(../mark-harpur-K2s_YE031CA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr 3fr 2.5fr;
}
body .page-container .lady-liberty .top-nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 25px 150px;
}
body .page-container .lady-liberty .top-nav-bar a {
  text-decoration: none;
  color: white;
}
body .page-container .lady-liberty .top-nav-bar button {
  background-color: #e91e63;
  color: white;
  font-size: 10px;
  border-color: #e91e63;
  border-radius: 42px;
  border: none;
  height: 50px;
  width: 75px;
}
body .page-container .lady-liberty .top-nav-bar .top-left-nav {
  display: flex;
  font-family: Roboto;
  font-size: 18px;
  align-items: center;
}
body .page-container .lady-liberty .top-nav-bar .top-right-nav {
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 10px;
  align-items: center;
  padding: 0 10px;
  width: 20%;
}
body .page-container .lady-liberty .title-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .page-container .lady-liberty .title-bar h1 {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  color: white;
  font-size: 67px;
}
body .page-container .lady-liberty .title-bar p {
  display: flex;
  justify-content: center;
  font-family: Roboto Slab;
  color: white;
  font-size: 18px;
}
body .page-container .lady-liberty .button-bar-one {
  display: flex;
  justify-content: center;
}
body .page-container .lady-liberty .button-bar-one button {
  background-color: #e91e63;
  color: white;
  font-size: 12px;
  border-color: #e91e63;
  border-radius: 10px;
  border: none;
  height: 50px;
  width: 125px;
}
body .page-container .main-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -4%;
  margin-left: 2.5%;
  z-index: 2;
  width: 95%;
  height: 104%;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 5px 9px 4px rgba(0, 0, 0, 0.43);
}
body .page-container .main-card h1 {
  font-family: Roboto Slab;
  font-size: 37px;
}
body .page-container .main-card .card-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  padding-bottom: 5%;
}
body .page-container .main-card .card-icons .icon-responsive {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}
body .page-container .main-card .card-icons .icon-responsive img {
  height: 15%;
  width: 15%;
}
body .page-container .main-card .card-icons .icon-responsive h4 {
  font-family: Roboto Slab;
  font-size: 18px;
  margin: 15px 0;
}
body .page-container .main-card .card-icons .icon-responsive p {
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 100;
  margin: 7px 0;
}
body .page-container .main-card .card-icons .icon-quality {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}
body .page-container .main-card .card-icons .icon-quality img {
  height: 15%;
  width: 15%;
}
body .page-container .main-card .card-icons .icon-quality h4 {
  font-family: Roboto Slab;
  font-size: 18px;
  margin: 15px 0;
}
body .page-container .main-card .card-icons .icon-quality p {
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 100;
  margin: 7px 0;
}
body .page-container .main-card .card-icons .icon-support {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}
body .page-container .main-card .card-icons .icon-support img {
  height: 15%;
  width: 15%;
}
body .page-container .main-card .card-icons .icon-support h4 {
  font-family: Roboto Slab;
  font-size: 18px;
  margin: 15px 0;
}
body .page-container .main-card .card-icons .icon-support p {
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 100;
  margin: 7px 0;
}
body .page-container .main-card .paralax-scroll {
  width: 100%;
  height: 25%;
  background-image: url(https://wp-themes.com/wp-content/themes/hestia/assets/img/contact.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
}
body .page-container .main-card .paralax-scroll .ps-heading {
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 15%;
  padding-top: 2%;
  padding-right: 2%;
}
body .page-container .main-card .paralax-scroll .ps-heading h1 {
  font-family: Roboto Slab;
  font-size: 37px;
}
body .page-container .main-card .paralax-scroll .ps-heading p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
}
body .page-container .main-card .paralax-scroll .floating-imgs {
  width: 50%;
  padding: 5% 15% 5% 2%;
}
body .page-container .main-card .paralax-scroll .floating-imgs img {
  width: 100%;
  height: auto;
}
body .page-container .main-card .blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .page-container .main-card .blog h1 {
  font-family: Roboto Slab;
  font-size: 37px;
}
body .page-container .main-card .blog .blog-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  padding-bottom: 5%;
}
body .page-container .main-card .blog .blog-links .blog-one {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0 10px;
}
body .page-container .main-card .blog .blog-links .blog-one .uncategorized {
  font-family: Roboto;
  font-size: 12px;
  color: #89229b;
  text-decoration: none;
}
body .page-container .main-card .blog .blog-links .blog-one .blog-link {
  font-family: Roboto Slab;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  color: #3c4858;
}
body .page-container .main-card .blog .blog-links .blog-one p {
  font-family: Roboto;
  font-size: 14px;
  color: #999999;
}
body .page-container .main-card .blog .blog-links .blog-two {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0 10px;
}
body .page-container .main-card .blog .blog-links .blog-two .uncategorized {
  font-family: Roboto;
  font-size: 12px;
  color: #00bcd4;
  text-decoration: none;
}
body .page-container .main-card .blog .blog-links .blog-two .blog-link {
  font-family: Roboto Slab;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  color: #3c4858;
}
body .page-container .main-card .blog .blog-links .blog-two p {
  font-family: Roboto;
  font-size: 14px;
  color: #999999;
}
body .page-container .main-card .blog .blog-links .blog-two p a {
  font-family: Roboto;
  font-size: 14px;
  color: #23527c;
  text-decoration: none;
}
body .page-container .main-card .blog .blog-links .blog-two p a:hover {
  cursor: pointer;
  transition: 0.3s ease;
  color: #e91e63;
}
body .page-container .main-card .blog .blog-links .blog-three {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0 10px;
}
body .page-container .main-card .blog .blog-links .blog-three .uncategorized {
  font-family: Roboto;
  font-size: 12px;
  color: #f44336;
  text-decoration: none;
}
body .page-container .main-card .blog .blog-links .blog-three .blog-link {
  font-family: Roboto Slab;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  color: #3c4858;
}
body .page-container .main-card .blog .blog-links .blog-three p {
  font-family: Roboto;
  font-size: 14px;
  color: #999999;
}
body .page-container .main-card .get-in-touch {
  background-image: url(https://wp-themes.com/wp-content/themes/hestia/assets/img/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-top: 10%;
}
body .page-container .main-card .get-in-touch h1 {
  font-family: Roboto Slab;
  font-size: 37px;
  color: white;
  padding-left: 15%;
}
body .page-container .main-card .get-in-touch .git-icon-one {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 15%;
  align-items: left;
}
body .page-container .main-card .get-in-touch .git-icon-one i {
  color: white;
  padding-right: 10px;
}
body .page-container .main-card .get-in-touch .git-icon-one .icon-descriptors {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
body .page-container .main-card .get-in-touch .git-icon-one .icon-descriptors h4 {
  font-family: Roboto Slab;
  font-size: 18px;
  color: white;
  margin: 0;
  padding-top: 15px;
}
body .page-container .main-card .get-in-touch .git-icon-one .icon-descriptors p {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-size: 14px;
  color: #eaeaea;
  margin: 0;
  padding-top: 10px;
}
body .page-container .main-card .get-in-touch .git-icon-two {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 15%;
  align-items: left;
}
body .page-container .main-card .get-in-touch .git-icon-two i {
  color: white;
  padding-right: 10px;
}
body .page-container .main-card .get-in-touch .git-icon-two .icon-descriptors {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
body .page-container .main-card .get-in-touch .git-icon-two .icon-descriptors h4 {
  font-family: Roboto Slab;
  font-size: 18px;
  color: white;
  margin: 0;
  padding-top: 15px;
}
body .page-container .main-card .get-in-touch .git-icon-two .icon-descriptors p {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-size: 14px;
  color: #eaeaea;
  margin: 0;
  padding-top: 10px;
}
body .page-container .footer {
  display: flex;
  justify-content: space-between;
  background-color: #323437;
}
body .page-container .footer .bottom-left-nav {
  display: flex;
  justify-content: space-between;
  padding: 25px 150px;
  width: 20%;
}
body .page-container .footer .bottom-left-nav a {
  text-decoration: none;
  color: white;
  font-family: Roboto;
  font-size: 12px;
  align-items: center;
}
body .page-container .footer .bottom-right-nav {
  display: flex;
  justify-content: space-between;
  padding: 25px 150px;
  width: 20%;
}
body .page-container .footer .bottom-right-nav p {
  color: white;
  font-family: Roboto;
  font-size: 14px;
  align-items: center;
  margin: 0;
}
body .page-container .footer .bottom-right-nav a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */